html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 500px;
	background: -webkit-gradient(linear, left center, right center, from(#FFFFFF),color-stop(100%, #00D3FF));
	background: -webkit-linear-gradient(left,#FFFFFF ,#00D3FF 100%);
	background: -moz-linear-gradient(left,#FFFFFF ,#00D3FF 100%);
	background: -ms-linear-gradient(left,#FFFFFF ,#00D3FF 100%);
	background: -o-linear-gradient(left,#FFFFFF ,#00D3FF 100%);
	background: linear-gradient(to right,#FFFFFF ,#00D3FF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FF00D3FF, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FF00D3FF', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #FF0000;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: 62px;
}

#pu12143-3
{
	width: 0.01px;
	position: relative;
}

#u12143-3
{
	z-index: 161;
	width: 39px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 178px;
	left: 523px;
}

#u12208-3
{
	z-index: 167;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: 505px;
}

#u12209
{
	z-index: 170;
	width: 1022px;
	position: relative;
	margin-right: -10000px;
}

#u8710-4
{
	z-index: 2;
	width: 113px;
	min-height: 24px;
	margin-left: 48px;
	margin-top: 3px;
}

#u8710-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 3px 0px 0px 48px;
}

#u6045-3
{
	z-index: 152;
	width: 149px;
	min-height: 2px;
	margin-left: 370px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#pamphletu87
{
	z-index: 6;
	width: 0.01px;
	height: 283px;
	padding-bottom: 4857px;
	margin-left: 30px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u92
{
	position: absolute;
	width: 1187px;
	left: 246px;
}

#u92popup
{
	z-index: 7;
}

#u98
{
	z-index: 8;
	width: 646px;
	height: 1454px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 9px 536px 3677px 5px;
}

#u6207-11
{
	z-index: 11;
	display: block;
	vertical-align: top;
	position: relative;
}

#u8765
{
	z-index: 22;
	width: 640px;
	margin-left: 5px;
	margin-top: 29px;
	position: relative;
}

#u8765_clip
{
	overflow: hidden;
	width: 640px;
	height: 600px;
}

#u8765_img
{
	margin-left: -80px;
	margin-right: -80px;
}

#u2741
{
	z-index: 9;
	width: 642px;
	margin-left: 5px;
	margin-top: 15px;
	position: relative;
}

#u103
{
	z-index: 24;
	width: 594px;
	height: 2069px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-right: 593px;
	padding-bottom: 3071px;
	margin-right: -10000px;
	position: relative;
}

#pu104-12
{
	width: 0.01px;
	padding-bottom: 57px;
	margin-left: 2px;
	position: relative;
}

#u104-12
{
	z-index: 25;
	display: block;
	vertical-align: top;
	position: relative;
	width: 583px;
	margin-right: -10000px;
	margin-top: 6px;
}

#u11803-3
{
	z-index: 41;
	width: 17px;
	min-height: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 244px;
}

#u9193
{
	z-index: 39;
	width: 459px;
	margin-left: 63px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u9149
{
	z-index: 37;
	width: 594px;
	margin-top: 48px;
	position: relative;
}

#u93
{
	z-index: 44;
	width: 625px;
	height: 1403px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 2px 561px 3735px 1px;
}

#pu5403-3
{
	width: 0.01px;
	padding-bottom: 7px;
	position: relative;
}

#u5403-3
{
	z-index: 45;
	width: 3px;
	min-height: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 245px;
	left: 276px;
}

#u9207-10
{
	z-index: 51;
	display: block;
	vertical-align: top;
	position: relative;
	width: 626px;
	margin-right: -10000px;
	margin-top: 6px;
}

#pu9206-3
{
	width: 0.01px;
	margin-left: 7px;
	margin-top: 10px;
	position: relative;
}

#u9206-3
{
	z-index: 48;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 494px;
}

#u13039
{
	z-index: 61;
	width: 557px;
	position: relative;
	margin-right: -10000px;
}

#u13039_img
{
	padding-right: 1px;
}

#u13044
{
	z-index: 63;
	width: 557px;
	margin-left: 15px;
	margin-top: 32px;
	position: relative;
}

#u8921
{
	z-index: 65;
	width: 575px;
	height: 2534px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 3px;
	padding-right: 612px;
	padding-bottom: 2603px;
	margin-right: -10000px;
	position: relative;
}

#u8929-12
{
	z-index: 66;
	width: 575px;
	min-height: 269px;
	position: relative;
}

#u8929-2
{
	font-size: 24px;
	line-height: 1.16;
	color: #ED1C24;
	font-weight: bold;
}

#u8929-4
{
	color: #000000;
	font-weight: bold;
}

#u8929-8
{
	font-size: 20px;
	text-align: justify;
	line-height: 1.35;
	padding-right: 17px;
	color: #000000;
	font-weight: bold;
}

#u8929-3,#u8929-5,#u8929-6,#u8929-9
{
	font-size: 20px;
	text-align: justify;
	line-height: 1.35;
	padding-right: 17px;
	color: #0000FF;
}

#u8972
{
	z-index: 78;
	width: 520px;
	margin-left: 14px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u11851-4
{
	z-index: 84;
	width: 113px;
	min-height: 24px;
	margin-left: 14px;
	margin-top: 6px;
	position: relative;
}

#u9644
{
	z-index: 80;
	width: 515px;
	margin-left: 14px;
	margin-top: 10px;
	position: relative;
}

#u11852-4
{
	z-index: 88;
	width: 121px;
	min-height: 19px;
	margin-left: 13px;
	margin-top: 5px;
	position: relative;
}

#u9650
{
	z-index: 82;
	width: 516px;
	margin-left: 13px;
	margin-top: 6px;
	position: relative;
}

#u11853-7
{
	z-index: 92;
	width: 522px;
	min-height: 88px;
	margin-left: 14px;
	margin-top: 16px;
	position: relative;
}

#u11853-3
{
	font-size: 20px;
}

#u11853-5
{
	font-size: 20px;
	text-align: justify;
}

#u12124
{
	z-index: 99;
	width: 656px;
	height: 2300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 3px 528px 2837px 3px;
}

#u12141-22
{
	z-index: 100;
	width: 562px;
	min-height: 269px;
	margin-left: 1px;
	position: relative;
}

#u12141-2
{
	font-size: 24px;
	line-height: 1.31;
	color: #FF0000;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	font-style: normal;
}

#u12141-3
{
	font-size: 18px;
}

#u12141-5,#u12141-11,#u12141-17
{
	font-size: 20px;
	text-align: justify;
	color: #0000FF;
	font-weight: bold;
}

#u12141-6,#u12141-8,#u12141-9,#u12141-12,#u12141-14,#u12141-15,#u12141-18,#u12141-20
{
	font-size: 20px;
	text-align: justify;
	font-weight: bold;
}

#u12824
{
	z-index: 122;
	width: 631px;
	margin-top: 10px;
	position: relative;
}

#u13250
{
	z-index: 124;
	width: 656px;
	margin-top: 19px;
	position: relative;
}

#u115
{
	z-index: 126;
	width: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
}

#u118
{
	position: absolute;
	width: 199px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	padding-bottom: 11px;
	top: -11px;
	left: -10px;
}

#u118:hover
{
	border-color: #999999;
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u119
{
	z-index: 129;
	height: 19px;
	width: 68px;
	vertical-align: top;
	background: url("../images/u119.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 10px;
}

#u118:hover #u119
{
	background: url("../images/u119-r.png") no-repeat 0px 0px;
}

#u118.PamphletThumbSelected #u119
{
	background: url("../images/u119-a.png") no-repeat 0px 0px;
}

#u120
{
	position: absolute;
	width: 199px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	top: 44px;
	left: -10px;
}

#u118.PamphletThumbSelected,#u120:hover
{
	border-color: #999999;
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u121-4
{
	z-index: 133;
	width: 180px;
	min-height: 20px;
	background-color: transparent;
	line-height: 1.4;
	color: #000000;
	font-size: 19px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 9px;
}

#u120:hover #u121-4
{
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#u120:active #u121-4
{
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#u120.PamphletThumbSelected #u121-4
{
	border-color: #DEDEDE;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#u120:hover #u121-4 p
{
	color: #0000FF;
	visibility: inherit;
}

#u120:active #u121-4 p
{
	color: #0000FF;
	visibility: inherit;
}

#u120.PamphletThumbSelected #u121-4 p
{
	color: #000000;
	visibility: inherit;
	line-height: 1.4;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
}

#u116
{
	position: absolute;
	width: 199px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	padding-bottom: 16px;
	top: 96px;
	left: -10px;
}

#u120.PamphletThumbSelected,#u116:hover
{
	border-color: #999999;
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u116.PamphletThumbSelected
{
	border-color: #999999;
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u117
{
	z-index: 139;
	height: 14px;
	width: 68px;
	vertical-align: top;
	background: url("../images/u117.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 9px;
}

#u116:hover #u117
{
	background: url("../images/u117-r.png") no-repeat 0px 0px;
}

#u116.PamphletThumbSelected #u117
{
	background: url("../images/u117-a.png") no-repeat 0px 0px;
}

#u8926
{
	position: absolute;
	width: 198px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	padding-bottom: 8px;
	top: 158px;
	left: -9px;
}

#u8926:hover
{
	border-color: #999999;
	width: 198px;
	min-height: 0px;
	margin: 0px;
}

#u8926.PamphletThumbSelected
{
	border-color: #999999;
	width: 198px;
	min-height: 0px;
	margin: 0px;
}

#u8928-4
{
	z-index: 143;
	width: 176px;
	background-color: transparent;
	line-height: 1.16;
	font-size: 19px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
}

#u8926:hover #u8928-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 7px -10000px 0px 0px;
}

#u8926:active #u8928-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 7px -10000px 0px 0px;
}

#u8926.PamphletThumbSelected #u8928-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 7px -10000px 0px 0px;
}

#u8926:hover #u8928-4 p
{
	color: #0000FF;
	visibility: inherit;
}

#u8926:active #u8928-4 p
{
	color: #0000FF;
	visibility: inherit;
}

#u8926.PamphletThumbSelected #u8928-4 p
{
	color: #000000;
	visibility: inherit;
	font-size: 19px;
	font-weight: bold;
}

#u12138
{
	position: absolute;
	width: 189px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	padding-bottom: 8px;
	top: 212px;
}

#u12138:hover
{
	border-color: #999999;
	width: 189px;
	min-height: 0px;
	margin: 0px;
}

#u12138.PamphletThumbSelected
{
	border-color: #999999;
	width: 189px;
	min-height: 0px;
	margin: 0px;
}

#u12140-4
{
	z-index: 148;
	width: 153px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-size: 19px;
	line-height: 1.31;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 1px;
}

#u12138:hover #u12140-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 7px -10000px 0px 0px;
}

#u12138:active #u12140-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 7px -10000px 0px 0px;
}

#u12138.PamphletThumbSelected #u12140-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 7px -10000px 0px 0px;
}

#u12138:hover #u12140-4 p
{
	color: #0000FF;
	visibility: inherit;
}

#u12138:active #u12140-4 p
{
	color: #0000FF;
	visibility: inherit;
}

#u12138.PamphletThumbSelected #u12140-4 p
{
	color: #000000;
	visibility: inherit;
	font-size: 19px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u12144-3
{
	z-index: 164;
	width: 5px;
	margin-left: 547px;
	top: -5137px;
	margin-bottom: -17px;
	position: relative;
}

#u11805-3
{
	z-index: 155;
	width: 5px;
	margin-left: 30px;
	top: -4902px;
	margin-bottom: -17px;
	position: relative;
}

#u11807-3
{
	z-index: 158;
	width: 5px;
	margin-left: 202px;
	top: -4890px;
	margin-bottom: -17px;
	position: relative;
}

body
{
	padding-top: 2px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

